body {
    background-image: url("music 2.png");
    background-color: skyblue;
    font-family: 'Indie Flower', cursive;
}
h3 {
    font-size: 25px !important;
}
.btn btn-success:hover {
    background-color: rgb(255, 0, 0);
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 50px midnightblue;}
    to{box-shadow: 1px 1px 50px seagreen;}
}